.footer_wrapper {
    display: block;
    background-color: #384653;
    color: white;
    height: 200px;
}
.footer_wrapper a{
    color: white;
    text-decoration: none;
}

.widget_social li{
    list-style: none;
    display: inline-block;
    position: relative;
    left: 65%;
    top: 70px;


}
.text_footer{
    display: inline-block;
    position: relative;
    color: white;
    left: 15%;
    top: 100px;


}

